# Root Environment Variable Template

# Backend Environment Variables (.env in /backend)
PORT=5001
NODE_ENV=development
DATABASE_URL="file:./dev.db" # Local SQLite or Neon PostgreSQL Connection String
JWT_SECRET="chocodist_super_secret_jwt_key_2026"
FRONTEND_URL="http://localhost:5173"

# Frontend Environment Variables (.env in /frontend)
VITE_API_BASE_URL="/api" # Or https://chocodist-backend.onrender.com/api
